[core]
	autocrlf = input
	symlinks = true
    editor = nvim
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[lfs]
	batch = true
[user]
	name = Trịnh Ngọc Các
	email = cactrinh5@gmail.com
[alias]
    ai = add -i
    br = branch
    com = commit
    cam = commit --amend
    ll = log --graph --oneline
    rbi = rebase -i
    st = status
    unstage = restore --staged
    wt = worktree
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
