[core]
	autocrlf = true
	symlinks = true
    editor = nvim
    pager = "less -F"
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[lfs]
	batch = true
[user]
	name = Trịnh Ngọc Các
	email = cactrinh5@gmail.com
[init]
	defaultBranch = main
[alias]
    ai = add -i
    br = branch
    sw = switch
    com = commit
    cam = commit --amend
    ll = log --graph --oneline
    rbi = rebase -i
    st = status
    unstage = restore --staged
    wt = worktree
