#submap,
#tray,
#clock,
#idle_inhibitor {
  margin-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
}

#idle_inhibitor,
#clock {
  color: #abe9b3;
  background: #282828;
}


#idle_inhibitor.activated {
  background: #abe9b3;
  color: #282828;
}



#tray {
  background: #8ec07c;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}


#submap {
  margin-left: 12px;
  background: #8ec07c;
  color: #161320;
}
