#clock {
    font-weight: 700;
    background-color: transparent;
}


#idle_inhibitor {
  padding: 0 15px 0 10px;
  background-color: #2d3436;
  color: white;
}

#idle_inhibitor.activated {
  background-color: #566065;
  color: #2d3436;
}



#tray {
  padding: 0 10px;
  background-color: #566065;
  border-radius: 4px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
