@import url("styles/workspaces.css");
@import url("styles/hardwares.css");
@import url("styles/io.css");
@import url("styles/misc.css");


* {
  border: none;
  border-radius: 4px;
  font-family: "Caskaydia Mono NF Propo Bold";
  font-size: 16px;
  font-weight: 700;
  min-height: 20px;
  transition: none;
}

window#waybar {
  background: transparent;
}


#custom-power {
  margin-top: 6px;
  margin-left: 20px;
  margin-bottom: 0px;
  padding: 0 15px 0 10px;
  font-size: 18px;
  color: #fbf1c7;
  background: #282828;
}

#custom-power:hover {
  background-color: grey;
}
