@import "~/.config/rofi/colorschemes/gruvbox.rasi"

window {
    cursor          : "default";
    width           : 240px;
    border-radius   : 12px;
    border-color    : @selected;
    background-color: @background;
}

mainbox {
    children        : [ "inputbar", "message", "listview" ];
    spacing         : 10px;
    padding         : 20px;
    border-color    : @selected;
    background-color: transparent;
}

inputbar {
    children        : [ "entry" ];
    spacing         : 10px;
    border-color    : @selected;
    background-color: transparent;
    text-color      : @foreground;
}

entry {
    hide-cursor-on-empty: true;
    placeholder         : "Select Options";
    padding             : 5px 0px 0px 0px;
    placeholder-color   : inherit;
    background-color    : inherit;
    text-color          : inherit;
}

textbox {
    text-color       : @foreground;
    placeholder-color: @foreground;
    background-color : @background;
}

listview {
    lines           : 4;
    spacing         : 5px;
    border-color    : @selected;
    background-color: transparent;
    text-color      : @foreground;
}

element {
    cursor          : pointer;
    padding         : 10px;
    border-radius   : 10px;
    border-color    : @selected;
    background-color: transparent;
    text-color      : @foreground;
}
element-text {
    background-color: transparent;
    text-color      : inherit;
    cursor          : inherit;
    vertical-align  : 0.5;
}
element selected.normal {
    background-color: @selected;
    text-color      : @background;
}
